# Ejercicio 1: Transformar cadenas
Hay varias operaciones que puedes realizar en las cadenas cuando las manipulamos. En este ejercicio, usarás métodos de cadena para modificar el texto con hechos sobre la Luna y luego extraerás información para crear un breve resumen.

In [52]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Primero, divide el texto en cada oración para trabajar con su contenido:

In [53]:
text_div=text.split('. ')
print(text_div)

['Interesting facts about the Moon', "The Moon is Earth's only satellite", 'There are several interesting facts about the Moon and how it affects life here on Earth', '\nOn average, the Moon moves 4cm away from the Earth every year', 'This yearly drift is not significant enough to cause immediate effects on Earth', 'The highest daylight temperature of the Moon is 127 C.']

Palabras Clave

In [54]:
text_key=["average", "temperature", "distance"]
for sentence in text_div:
    for key_word in text_key:
        if key_word in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

Ciclo para cambiar C a Celsius

In [55]:
for sentence in text_div:
    for key in text_key:
        if key in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

# Ejercicio 2:
Saber cómo dar formato a las cadenas es esencial cuando se presenta información de un programa. Hay algunas maneras diferentes de lograr esto en Python. En este ejercicio, se utilizan variables que contienen datos clave sobre la gravedad en varias lunas y luego se utilizan para dar formato e imprimir la información.

El formato tiene que acomodar información sobre otras lunas, por lo que debe ser genérico.


Datos con los que vamos a trabajar

In [56]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

Creamos título

In [57]:
title = f'datos de gravedad sobre {name}'

Creamos la plantilla

In [58]:
hechos = f"""{'-'*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2"""

Unión de ambas cadenas

In [59]:
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

Nuevos datos muestra

In [60]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

Comprobamos la plantilla

In [61]:
print(hechos)
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

Pista: print(nueva_plantilla.format(variables))

In [62]:
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2